.AiIntroduceSection_section__1pZPQ {
    padding: 48px 0;
    background-color: #161619
}

.AiIntroduceSection_section__1pZPQ h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    letter-spacing: .39px;
    color: #fff;
    margin-bottom: 24px
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_row_block__2CyNK {
    -webkit-justify-content: center;
    justify-content: center
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_row_block__2CyNK .AiIntroduceSection_grid_block__2_QvZ {
    padding: 16px
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block___x9eL {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block_image__2yDFv {
    width: 100px;
    height: 100px;
    margin-bottom: 24px
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block___x9eL h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    letter-spacing: .39px;
    color: #fff;
    margin-bottom: 12px
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block___x9eL p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: .3px;
    color: inherit
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block__content__3kqDV a {
    color: #2c7dfa;
    text-decoration: underline
}

.AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block__content__3kqDV a:hover {
    color: #2c7dfa
}

@media only screen and (max-width:750px) {
    .AiIntroduceSection_section__1pZPQ {
        padding: 36px 0
    }
    .AiIntroduceSection_section__1pZPQ .AiIntroduceSection_row_block__2CyNK .AiIntroduceSection_grid_block__2_QvZ {
        -webkit-flex: 1 1 100% !important;
        flex: 1 1 100% !important;
        max-width: 100% !important
    }
}

@media only screen and (max-width:460px) {
    .AiIntroduceSection_section__1pZPQ {
        padding: 24px 0
    }
    .AiIntroduceSection_section__1pZPQ h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px
    }
    .AiIntroduceSection_section__1pZPQ .AiIntroduceSection_row_block__2CyNK .AiIntroduceSection_grid_block__2_QvZ {
        padding: 0
    }
    .AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block___x9eL {
        font-size: 14px
    }
    .AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block_image__2yDFv {
        width: 64px;
        height: 64px
    }
    .AiIntroduceSection_section__1pZPQ .AiIntroduceSection_block___x9eL p {
        font-size: 14px
    }
}